1. What are the two values of the Boolean data type? How do you write them?

Ans: 
The two values of the Boolean data types are true and false. It can be written as follows:
* True
* False

In [ ]:
True
False

False

2. What are the three different types of Boolean operators?

Ans: The three different types of Boolean operators are:
- and
- or
- not

3. Make a list of each Boolean operator's truth tables (i.e. every possible combination of Boolean values for the operator and what it evaluate).

- Truth table for AND 

A | B | Y
- | - | -
0 | 0 | 0
0 | 1 | 0
1 | 0 | 0
1 | 1 | 1

- Truth table for OR

A | B | Y
- | - | -
0 | 0 | 0
0 | 1 | 1
1 | 0 | 1
1 | 1 | 1

- Truth table for NOT

A | Y
- | -
0 | 1
1 | 0

5. What are the six comparison operators?

Ans:

    
**Comparision Operators**

|Operator|Name|Example
|:-:|:-:|:-:|
| **==** |equal|x==y
| **!=** |not equal|x!=y
| **>** |greater than|x>y
| **<** |less than|x<y
| **>=** |greater than or equal to|x>=y
| **<=** |less than or equal to|x<=y

4. What are the values of the following expressions?
```
(5 > 4) and (3 == 5)
not (5 > 4)
(5 > 4) or (3 == 5)
not ((5 > 4) or (3 == 5))
(True and True) and (True == False)
(not False) or (not True)
```

In [ ]:
(5 > 4) and (3 == 5)

False

In [ ]:
not (5 > 4)

False

In [ ]:
(5 > 4) or (3 == 5)

True

In [ ]:
not ((5 > 4) or (3 == 5))

False

In [ ]:
(True and True) and (True == False)

False

In [ ]:
(not False) or (not True)

True

6. How do you tell the difference between the equal to and assignment operators? Describe a condition and when you would use one.

Ans: 
- Equal to operator (==): It checks whether the two given operands are equal or not. If so, it returns true. Otherwise it returns false.
```
Example
5==5
Output: True
```
- Assignment operator (=): It is used to assign the value on the right to the variable on the left. 
```
Example
a=10
```

7. Identify the three blocks in this code:
```
spam = 0
if spam == 10:
print('eggs')
if spam > 5:
print('bacon')
else:
print('ham')
print('spam')
print('spam')
```

In [ ]:
spam = 0
if spam == 10:      # First Block
  print('eggs')
if spam > 5:        # Second Block
  print('bacon')
else:               # Third Block
  print('ham')
  print('spam')
  print('spam')

ham
spam
spam

8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [ ]:
spam=int(input("Enter spam value: "))
if spam==1:
  print("Hello")
elif spam==2:
  print("Howdy")
else:
  print("Greetings")

Enter spam value: 5
Greetings

9. If your programme is stuck in an endless loop, what keys you’ll press?

Ans: If a programme is stuck in an endless loop, then we have to press "Control+C"

10. How can you tell the difference between break and continue?

Ans: 
- Break statement: If break statement is encountered inside a loop; then stop the loop and don't proceed at all.  it completely stops the loop.

- Continue statement:  it skips the current loop or it skips all the statement after continue keyword

11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

In [ ]:
print(list(range(10))) # It generates nos between 0 to 10: 0,1,2,3,4,5,6,7,8,9
print(list(range(0,10))) # range(start_index,stop_index) 
print(list(range(0,10,1))) # range(start_index,stop_index,step_size)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
count=1
while count<=10:
  print(count)
  count=count+1

1
2
3
4
5
6
7
8
9
10

13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

Ans: To call a function bacon() inside the module spam the following syntax is used.

```
import spam
spam.bacon()
```